body {
    background-color: bisque;
    color: rgb(92, 43, 226);
}

body, html {
    height:100%;
    margin:10px;
    padding: 10px;
}

nav li{
    margin: 10px;
}

nav ul{
    margin:0%;
    list-style-type: none;
    width: 100%;
    padding: 5px;
}

nav {
    display: block;
    color: rgb(92, 43, 226);
    text-align: center;
}

nav a{
    color: rgb(92, 43, 226);
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    color: red;
}

div a:hover{
    color: red;
}

.hero-image{
    background-image:url("../images/Guatemala Banner.jpg");
    height:75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: center;
}

.hero-text{
   color: rgb(92, 43, 226);
   text-align:left;
   position: absolute;
   top: 10%;
   left: 30%;
}

#main{
    width:75%;
    height:100%;
    float:left;
} 

#interrupts{
    text-align:center;
    list-style-type:none;
    display: block;
    color: bisque;
    background-color: rgb(119, 85, 211);
    padding:0px
}

#side{
    width:22%;
    float:right;
    padding: 15px
}

#profile-image{
    width: 150px; 
    height: 160px;
    border-radius: 50%;
    border: 5px solid rgb(92, 43, 226)
}

#profile{
    text-align:center;
}

#links{
    text-align:right;
    list-style-type:none;
}

footer ul{
    color:  rgb(92, 43, 226);
    text-align:center;
    margin:0px;
    width: 100%;
    height: 2%;
    padding: 20px
}